
@import '../../styles/variables.scss';

.backToTopButton{
    background-color:$primaryColor;
    max-width: 180px;
    max-height: 40px;
    float: right;
}


.btn:focus{
    color: #FFF
}