@import "~bootstrap/scss/bootstrap";
@import '../../node_modules/font-awesome/css/font-awesome.min.css'; 
@import '../styles/variables.scss';

.App {
  text-align: center;
}

.mainWrapper{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    padding:0;
}


.contentContainer{
  padding: 0;
}
