.noPadding{
    padding:0
}

.listItem{
    padding:10px
}

.searchInput{
    max-width: 300px;
}
.test{
    overflow-y: auto;
    flex-grow: 1;
}
.listGroup{
    overflow-y: auto;
}
.heroImage{   
    max-width:100%;
    max-height:100%;
    border-radius: 30px;
}
.heroName{
    margin-left:25px
}
.imageHolder{
   
    height: 60px;
    width: 60px;
}


.flexContainer{
    display: flex;
    
}