@import '../../styles/variables.scss';


.mainHeader{
    padding:10px;
    background-color:$primaryColor;
    color:$white
}

.btn{
  color:$white
}

.welcome{
  text-align: center
}


.menu{
  position: absolute;
  z-index: 1;
  margin-top: 45px;
  color:$primaryColor
}

.menuButton{
  margin-left:0
}