@import '../../styles/variables.scss';


.noPadding{
    padding:0
}

.flexContainer{
    display: flex;
    overflow-y: auto;
}

.formWrapper{
    margin-top: 30px
}

.profileImage{
    border-radius: 100px;
    margin: auto;
}

.heroNameForm{
    margin:auto;
}

.heroDescription{
    padding:30px;
    text-align: center
}


.grr{
    border:3px solid red
}


.comicWrapper{
    text-align: center;
    padding: 30px; 
}

